<template>
  <div>
    <h1 >Admin Dashboard</h1>
    <div class="users" v-if="internalUsers">
      <div class="heading">
        <p>ID</p>
        <p>Email</p>
        <p>Username</p>
        <p>Roles</p>
        <p>Actions</p>
      </div>
      <div v-for="user in this.internalUsers" :key="user.id">
        <p>{{ user.id }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.username }}</p>
        <div class='role-input'>
          <div v-for='(role, index) in user.roles.split(",")' class='role-input__role'>
            <span @click="removeRole(index)">x</span>
            {{ role }}
          </div>
          <input type='text'
                 placeholder="Enter categories separated by a comma"
                 class='role-input__text'
                 @keydown.enter='addRole'
                 @keydown.188='addRole'
                 @keydown.delete='removeLastRole'/>
        </div>
        <p>
          <button class="save">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="122.881px" height="89.842px" viewBox="0 0 122.881 89.842" enable-background="new 0 0 122.881 89.842" xml:space="preserve"><g><path d="M1.232,55.541c-1.533-1.388-1.652-3.756-0.265-5.289c1.388-1.534,3.756-1.652,5.29-0.265l34.053,30.878l76.099-79.699 c1.429-1.501,3.804-1.561,5.305-0.132c1.502,1.428,1.561,3.803,0.133,5.305L43.223,88.683l-0.005-0.005 c-1.396,1.468-3.716,1.563-5.227,0.196L1.232,55.541L1.232,55.541z"/></g></svg>
          </button>
        </p>
        <p>
          <button class="delete">
            <svg  @click="deleteToken(token)" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="109.484px" height="122.88px" viewBox="0 0 109.484 122.88" enable-background="new 0 0 109.484 122.88" xml:space="preserve"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M2.347,9.633h38.297V3.76c0-2.068,1.689-3.76,3.76-3.76h21.144 c2.07,0,3.76,1.691,3.76,3.76v5.874h37.83c1.293,0,2.347,1.057,2.347,2.349v11.514H0V11.982C0,10.69,1.055,9.633,2.347,9.633 L2.347,9.633z M8.69,29.605h92.921c1.937,0,3.696,1.599,3.521,3.524l-7.864,86.229c-0.174,1.926-1.59,3.521-3.523,3.521h-77.3 c-1.934,0-3.352-1.592-3.524-3.521L5.166,33.129C4.994,31.197,6.751,29.605,8.69,29.605L8.69,29.605z M69.077,42.998h9.866v65.314 h-9.866V42.998L69.077,42.998z M30.072,42.998h9.867v65.314h-9.867V42.998L30.072,42.998z M49.572,42.998h9.869v65.314h-9.869 V42.998L49.572,42.998z"/></g></svg>
          </button>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import axios from 'axios'
import ENUM from '../store/enums'

export default {
  name: 'AdminDashboard',

  data() {
    return {
      internalUsers: {},
    }
  },

  computed: {
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
      getUserById: 'getUserById',
      users: 'getUsers',
      errorMessage: 'getErrorMessage'
    }),
    username(id) {
      console.log(id)
      return this.getUserById(id).username
    }
  },

  mounted () {
    this.getUsersInternal();
  },

  methods: {
    getUsersInternal() {
      axios.get("/api/users-internal")
        .then(response => {
          this.internalUsers = response.data
        })
        .catch(err => {
          this.$store.state.commit('SET_API_STATE', ENUM.ERROR)
          if (!err.response) {
            this.$store.state.commit('SET_ERROR_MESSAGE', "You don't have an internet connection or the server is down."); return;
          }
          this.$store.state.commit('SET_ERROR_MESSAGE', err.response.data.message);
        })
    },
    addRole (event, user) {
      event.preventDefault()
      let val = event.target.value.trim()
      if (val.length > 0) {
        this.internalUsers.roles.split(",").push({name: val})
        event.target.value = ''
      }
    },

    removeRole (index) {
      this.internalUsers.roles.split(",").splice(index, 1)
    },

    removeLastRole(event) {
      if (event.target.value.length === 0) {
        this.removeTag(this.internalUsers.roles.split(",").length - 1)
      }
    },
  }
}
</script>

<style scoped>
h1 {
  text-align: center;
  margin: 2rem auto;
  padding: 3rem;
}
button {
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  transition: 0.5s all;
  margin: 1rem 0;
}
.cta {
  background: linear-gradient(180deg, rgba(235,197,29, 1) 0%, rgba(229,101,0, 1) 100%);
  color: white;
}

div.heading p:last-of-type {
  grid-column: 5 / 7;
}

.delete, .save {
  background: none;
  margin: 0;
  width: auto;
  display: grid;
  padding: 0;
}
form {
  display: grid;
}

label, input {
  border-radius: 10px;
  outline: 0;
  padding: 1rem;
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

input {
  border: 1px solid black;
  box-sizing: border-box;
}

.users > div {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 10fr 1fr 1fr;
  align-items: center;
  grid-gap: 1rem;
}

.users div:first-of-type {
  font-weight: bold;
}

.users div > p:nth-of-type(4), .users div > p:nth-of-type(5) {
  place-self: center;
}

.delete svg {
  height: 1.5rem;
  width: auto;
  fill: #FF5B5B;
  place-self: center;
}
.save svg {
  height: 1.5rem;
  width: auto;
  fill: #067f26;
  place-self: center;
}

.role-input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.role-input__role{
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  background-color: #eee;
  margin-top: 10px;
  line-height: 30px;
  padding: 0 5px;
  border-radius: 5px;
}

.role-input__role > span {
  cursor: pointer;
  opacity: 0.75;
}

.role-input__text {
  border: none;
  outline: none;
  line-height: 50px;
  background: none;
  padding: 0;
  width: 25rem;
}
</style>
