<template>
  <div v-if="this.error" id="error">
    <p>{{this.error}}</p>
  </div>
</template>

<script>
export default {
  name: 'ErrorComponent',
  props: ['error'],
}
</script>

<style scoped>
div {
  background-color: #ffcccc;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
</style>
