<template>
  <footer>
    <p>Copyirght &copy;2020</p>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>
body { margin: 0; }
footer {
  display: block;
  margin: 0;
  background-color: #333;
  bottom: 0;
  padding: 0;
  position: relative;
  border-radius: 2rem 2rem 0 0;
}
footer p {
  text-align: center;
  color: #eee;
  line-height: 6rem;
  margin: 0;
}
</style>
