<template>
  <nav>
    <ul class="nav" v-bind:class="{ loggedin: isAuth, isopen: isOpenDropdown }">
      <li>
        <router-link :to="{name: 'questionList'}" id="logo">
          <img src="@/assets/logo.svg" alt="logo">
        </router-link>
      </li>

      <input type="search" name="search" id="search" placeholder="Search..." @keydown.enter.prevent="search" v-model="query">

      <template v-if="!isAuth">
        <li><router-link :to="{name: 'signin'}">Sign In</router-link></li>
        <li><router-link :to="{name: 'register'}">Register</router-link></li>
      </template>
      <template v-else>
        <li @click="isOpenDropdown = !isOpenDropdown" v-click-outside="hide">
          <a href="#" @click.prevent>
            <img src="@/assets/profile.png" alt="profile-img">
<!--            {{ currentUser.principal.username }}-->
          </a>
          <transition name="slide">
            <ul class="dropdown" v-if="isOpenDropdown" >
              <template v-if="getRoles.includes('ADMIN')">
                <li><router-link :to="{name: 'adminDashboard'}">Admin Dashboard</router-link></li>
              </template>
              <li><router-link :to="{name: 'userItem', params: {id: currentUser.principal.id}}">Profile</router-link></li>
              <li><router-link :to="{name: 'settings'}">Settings</router-link></li>
              <li><a href="#_" @click.prevent="logOut">Sign Out</a></li>
            </ul>
          </transition>
        </li>
      </template>
    </ul>
  </nav>
</template>

<script>

import {mapGetters} from 'vuex'
import { Logout } from '../store/utils'
import ClickOutside from 'vue-click-outside'
import router from '../router'


export default {
  name: 'Navigation',


  data: function () {
    return {
      isOpenDropdown: false,
      query: ""
    }
  },

  computed: {
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
      questions: 'getQuestionById'
    })
  },

  methods: {
    logOut() {
      Logout()
    },
    hide() {
      this.isOpenDropdown = false
    },
    search() {
      router.push({
        name: 'searchResults',
        params: {
          query: this.query
        }
      })
    }
  },

  watch: {
    '$route' () {
      if (this.$route.name != 'searchResults') {
        this.query = ""
      }
    }
  },

  directives: {
    ClickOutside
  }
}
</script>

<style scoped>

nav {
  height: 6rem;
  position: sticky;
  width: 100%;
  margin: 0;
  top: 0;
  z-index: 3;
}

ul.nav {
  list-style-type: none;
  background-color: white;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 8fr 1fr 1fr;
  height: 100%;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2);
  border-radius: 0 0 2rem 2rem;
  transition: 0.3s all;
}

ul.loggedin {
  grid-template-columns: 1fr 4fr 1fr;
}
ul.isopen {
  border-radius: 0 0 0 2rem;
}

ul.nav > li {
  place-self: center;
  height: 3rem;
  position: relative;
  width: 100%;
  text-align: center;
}

ul.nav > li img {
  height: 3rem;
}

ul.nav > li a {
  color: black;
  text-decoration: none;
  line-height: 3rem;
}

#search {
  height: 3rem;
  align-self: center;
  padding: 0 1rem;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.2);
}

.dropdown {
  position: absolute;
  list-style-type: none;
  top: 4.5rem;
  padding: 0;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  /*backdrop-filter: blur(5px);*/
}

.dropdown li {
  border-bottom: 1px solid rgba(0,0,0, 0.5);
}

.slide-enter-active {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

a:not(#logo) {
  display: block;
  transition: 0.2s all;
  max-height: 3rem;
  outline: none;
}

.dropdown a:hover {
  background-color: rgba(200, 200, 200,0.2);
}

</style>
