<template>
  <div>
    <h1>404 Not Found</h1>
  </div>
</template>

<script>
export default {
  name: 'NotFound'
}
</script>

<style scoped>
  div {
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically aligns items */
    align-items: center; /* horizontally aligns items */
    min-height: 70vh;
    height: auto;
  }
  h1 {
    font-size: 3rem;
  }
</style>
