<template>
  <div>
    <div :key="question.id" class="question" :question="question">
      <div class="profile-image">
        <router-link :to="{ name: 'userItem', params: { id: this.userId } }" v-if="question.user"><img src="@/assets/profile.png" alt="profile-img"></router-link>
      </div>
      <div class="title">
        <router-link :to="{ name: 'questionSingle', params: {id: question.id} }"><h2>{{ question.title }}</h2></router-link>
      </div>
      <div class="rate">
        <a href="#_" @click.prevent="upvote">
          <img src="@/assets/thumbs-up.svg" alt="thumbs up" v-if="isUpvotedByUser">
          <img src="@/assets/thumbs-up-empty.svg" alt="thumbs up" v-else>
        </a>
        <p class="score">{{ this.score }}</p>
        <a href="#_" @click.prevent="downvote">
          <img src="@/assets/thumbs-down.svg" alt="thumbs up" v-if="isDownvotedByUser">
          <img src="@/assets/thumbs-down-empty.svg" alt="thumbs up" v-else>
        </a>
      </div>
      <div class="description">
        <pre><p>{{ question.description }}</p></pre>
      </div>
      <div class="caret">
        <a href="#_" @click.prevent="isOpenDropdown = !isOpenDropdown" v-click-outside="hide">
          <img src="@/assets/caret.svg" alt="more">
        </a>
      </div>
      <div class="menu">
        <QuestionMenu v-if="isOpenDropdown" :question="question"></QuestionMenu>
      </div>
      <div class="answer-input">
        <small v-if="this.statusTyping.message == question.id && currentUser.principal.username !== this.statusTyping.name">{{ this.statusTyping.name }} is typing...</small>
        <input type="text" @input="typing" v-model="newAnswer" @keydown.enter.prevent="answer">
      </div>
      <div class="answer-submit">
        <button type="submit" @click.prevent="answer">
          <img src="@/assets/send.svg" alt="">
        </button>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import {mapGetters, mapState} from 'vuex'
import QuestionMenu from './QuestionMenu'
import ClickOutside from 'vue-click-outside'
import ENUM from '../store/enums'
import SockJS from 'sockjs-client'
import Stomp from 'webstomp-client'
import store from '../store'
import router from '../router'

export default {
  name: 'questionItem',
  data: function () {
    return {
      answers: [],
      newAnswer: "",
      isOpenDropdown: false,
      time: null,
      doneTypingInterval: 5000,
      statusTyping: {},
    }
  },

  props: {
    'question':
      {
        default: () => []
      }
  },

  components: {
    QuestionMenu
  },

  computed: {
    isEmpty() {
      return this.newAnswer.length < 1
    },
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
    }),
    ...mapState({
      apiState: state=> state.apiState
    }),
    apiStateLoaded() {
      return this.apiState === ENUM.LOADED;
    },
    apiStateLoading() {
      return this.apiState === ENUM.LOADING || this.apiState === ENUM.INIT;
    },
    apiStateError() {
      return this.apiState === ENUM.ERROR;
    },
    userId() {
      if (isNaN(this.question.user)) {
        return this.question.user.id
      } else {
        return this.question.user
      }
    },
    isDownvotedByUser() {
      if (!this.isAuth) return;
      if (!this.question.upvotedBy || !this.question.downvotedBy) return;
      let downvotes = [];
      this.question.downvotedBy.forEach(element => {
        if (isNaN(element)) {
          downvotes.push(element.id)
        } else {
          downvotes.push(element)
        }
      });
      if (downvotes.includes(this.currentUser.principal.id)) {
        return true
      }
      return false
    },
    isUpvotedByUser() {
      if (!this.question.upvotedBy || !this.question.downvotedBy || !this.isAuth) return;
      let upvotes = [];
      this.question.upvotedBy.forEach(element => {
        if (isNaN(element)) {
          upvotes.push(element.id)
        } else {
          upvotes.push(element)
        }
      });
      if (upvotes.includes(this.currentUser.principal.id)) {
        return true
      }
      return false
    },
    score() {
      if (!this.question.upvotedBy && !this.question.downvotedBy) return 0;
      return this.question.upvotedBy.length - this.question.downvotedBy.length;
    }
  },

  mounted () {
    // axios.get('/api/questions/' + this.$route.params.id + '/answers')
    //   .then(response => this.answers = response.data.content)
  },

  created () {
    this.connect()
  },

  methods: {
    typing() {
      if (!this.isAuth) return;
      clearTimeout(this.time)
      if (this.newAnswer !== "") {
        this.time = setTimeout(()=>{ this.doneTyping() }, this.doneTypingInterval);
        if (this.stompClient && this.stompClient.connected) {
          const msg = {
            name: this.currentUser.principal.username,
            message: this.question.id
          };
          if (this.statusTyping.message == "" || !this.statusTyping.message) {
            this.stompClient.send("/app/user-all", JSON.stringify(msg), {});
          }
        }
      } else {
        this.doneTyping();
      }
    },
    doneTyping() {
      if (this.stompClient && this.stompClient.connected) {
        const msg = {
          name: this.currentUser.principal.username,
          message: ""
        };
        if (this.statusTyping.message != "") {
          this.stompClient.send("/app/user-all", JSON.stringify(msg), {});
        }
      }
    },
    connect() {
      this.socket = new SockJS("http://localhost:8090/websocket-chat");
      this.stompClient = Stomp.over(this.socket);
      this.stompClient.debug = () => {};
      this.stompClient.connect(
        {},
        frame => {
          this.connected = true;
          this.stompClient.subscribe("/topic/user", tick => {
            this.statusTyping = JSON.parse(tick.body);
          });
        },
        error => {
          console.log(error);
          this.connected = false;
        }
      );
    },
    answer() {
      if (this.isEmpty) return;
      const answer = {
        text: this.newAnswer,
      }
      const payload = {
        'id': this.question.id,
        'answer': answer
      }
      this.$store.dispatch('addAnswer', payload)
      this.newAnswer = "";
    },
    hide() {
      this.isOpenDropdown = false
    },
    downvote() {
      if (!this.isAuth) {
        router.replace({ name: 'signin', query: { from: this.$route.path } });
        return;
      }
      const payload = {
        id: this.question.id,
        userId: this.currentUser.principal.id
      }
      store.dispatch('downvoteQuestion', payload)
    },
    upvote() {
      if (!this.isAuth) {
        router.replace({ name: 'signin', query: { from: this.$route.path } });
        return;
      }
      const payload = {
        id: this.question.id,
        userId: this.currentUser.principal.id
      }
      store.dispatch('upvoteQuestion', payload)
    }
  },

  beforeRouteLeave (to, from, next) {
    if (!this.isEmpty) {
      const answer = window.confirm('Do you really want to leave? You have unsaved changes!')
      if (answer) {
        next()
      } else {
        next(false)
      }
    } else {
      next()
    }

  },

  directives: {
    ClickOutside
  }
}

</script>

<style scoped>
.question {
  background: linear-gradient(180deg, #B0E3FF 0%, #99DAFF 100%);
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  place-items: center;
  grid-template-columns: 5rem repeat(6, 1fr) 5rem;
  grid-template-rows: auto;
  grid-template-areas:
    "profile-image title title title title title title caret"
    "rate description description description description description description ."
    ". description description description description description description ."
    ". input input input input input submit .";
  margin-top: 3rem;
  position: relative;
}
.profile-image {
  grid-area: profile-image;
  place-self: center;
}

.title {
  grid-area: title;
  place-self: center stretch;
}

.caret {
  grid-area: caret;
  place-self: center;
  user-select: none;
}

.description {
  grid-area: description;
  place-self: start;
}

.answer-input {
  grid-area: input;
  place-self: stretch;
  position: absolute;
  bottom: -2rem;
  width: 100%
}

.answer-submit {
  grid-area: submit;
  position: absolute;
  bottom: -2rem;
}

.profile-image img {
  max-height: 4rem;
}

.answer-input input {
  background: #EEEEEE;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  height: 3rem;
}

.answer-submit button {
  outline: 0;
  border: 0;
  background: none;
  background: #EEEEEE;
  border-radius: 10px;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  padding: 0;
}

.rate a {
  display: block;
  margin: 1rem 0;
  user-select: none;
}

p.score {
  text-align: center;
}

.question a {
  color: black;
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
}
.menu {
  place-self: stretch;
}
</style>
