<template>
  <div>
    <h1>All questions</h1>
    <div v-for="question in this.questions" :key="question.id" class="question">
      <QuestionItem :question="question"></QuestionItem>
    </div>
  </div>
</template>

<script>

import axios from 'axios'
import {mapGetters} from 'vuex'
import QuestionItem from './QuestionItem'

export default {

  name: 'Questions',
  data: function () {
    return {
    }
  },

  components: {
    QuestionItem
  },

  computed: {
    isEmpty() {
      return this.title.length < 1 || this.description.length < 1
    },
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
      questions: 'getQuestions',
    })
  },

  mounted: function () {
  },

  methods: {
    deleteItem(index) {
      axios.delete('api/questions/' + index.id)
        .then(this.questions.splice(this.questions.indexOf(index), 1))
    },
    isOwn(question) {
      if (!this.currentUser.principal) return false;
      return question.user.username === this.currentUser.principal.username
    }
  }
}
</script>

<style scoped>
h1 {
  text-align: center;
  margin: 1rem auto 3rem auto;
  padding: 1rem;
}
.question {
  transition: 0.3s all;
}
.question:hover {
  transform: translateX(10px);
}
.profile-image {
  grid-area: profile-image;
  place-self: center;
}

.title {
  grid-area: title;
  place-self: center stretch;
}

.caret {
  grid-area: caret;
  place-self: center;
  user-select: none;
}

.description {
  grid-area: description;
  place-self: start;
}

.answer-input {
  grid-area: input;
  place-self: stretch;
  position: absolute;
  bottom: -2rem;
  width: 100%
}

.answer-submit {
  grid-area: submit;
  position: absolute;
  bottom: -2rem;
}

.profile-image img {
  max-height: 4rem;
}

.answer-input input {
  background: #EEEEEE;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  height: 3rem;
}

.answer-submit button {
  outline: 0;
  border: 0;
  background: none;
  background: #EEEEEE;
  border-radius: 10px;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  padding: 0;
}

.rate a {
  display: block;
  margin: 1rem 0;
  user-select: none;
}

.question a {
  color: black;
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
}

</style>
