<template>
  <div>
    <h1>Edit Question</h1>
    <form>
      <error-component class="form-group" v-if="this.errorMessage" :error="this.errorMessage"></error-component>
      <div class="form-group">
        <input v-model="title" placeholder="Title">
      </div>
      <div class="form-group">
        <textarea v-model="description" placeholder="Description"></textarea>
      </div>
      <button @click.prevent="cancel" class="cancel">Cancel</button>
      <button @click.prevent="saveQuestion" :disabled="isEmpty" type="submit" class="add">Edit</button>
    </form>
  </div>
</template>

<script>

import {mapGetters} from 'vuex'
import store from '../store'
import router from '../router'

export default {
  name: 'QuestionEdit',

  data: function () {
    return {
      title: [],
      description: [],
    }
  },

  computed: {
    isEmpty() {
      return this.title.length < 1 || this.description.length < 1
    },
    ...mapGetters({
      getQuestionById: 'getQuestionById',
      errorMessage: 'getErrorMessage'
    }),
    question() {
      return this.getQuestionById(this.$route.params.id)
    },
  },

  mounted() {
    if (this.question) {
      this.title = this.question.title
      this.description = this.question.description
    }
  },

  methods: {
    saveQuestion() {
      if (this.isEmpty) return;
      const question = { title: this.title, description: this.description}
      const payload = {
        'question': question,
        'id': this.$route.params.id
      }
      store.dispatch('editQuestion', payload)
    },
    cancel() {
      router.go(-1);
    }
  }


}
</script>

<style scoped>
h1 {
  text-align: center;
  margin: 2rem auto;
  padding: 3rem;
}
form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.form-group {
  grid-column: 1 / 3;
}

input, textarea {
  grid-column: 1 / 3;
  border-radius: 10px;
  outline: 0;
  border: 1px solid black;
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  height: 20vh;
  resize:none;
  font-family: 'Ubuntu', sans-serif;
}

button {
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.cancel {
  background: #C4C4C4;
}
.add {
  background: linear-gradient(180deg, #EBC51D 0%, #E56500 100%);
  color: white;
}
#error {
  background-color: #fcc;
  border-radius: 10px;
  color: black;
  padding: 0 1rem;
}
</style>
