<template>
  <div v-if="this.apiStateLoaded && this.question">

    <QuestionItem v-if="this.apiStateLoaded" :question="this.question"></QuestionItem>

    <h3>Tags</h3>
    <div class='tag-input'>
      <div v-for='(tag, index) in this.question.categories' class='tag-input__tag'>
        {{ tag.name }}
      </div>
    </div>

    <h3>Answers</h3>
    <div v-if="this.apiStateLoaded && this.answers && this.answers.length > 0">
      <div v-for="a in this.sortedAnswers">
        <AnswerItem :answer="a"></AnswerItem>
        <!--      <p>{{ a.text }}</p>-->
        <!--      <small>{{ a.id }} | {{ a.upvotes }}</small>-->
        <!--      <button @click="deleteAnswer(a)">Delete</button>-->
      </div>
    </div>
    <div v-else>
      <h4>No answers yet.</h4>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import {mapGetters, mapState} from 'vuex'
import QuestionItem from './QuestionItem'
import ENUM from '../store/enums'
import AnswerItem from './Answer/AnswerItem'

export default {
  name: 'questionItem',
  data: function () {
    return {
      newAnswer: "",
    }
  },

  components: {
    QuestionItem,
    AnswerItem,
  },

  computed: {
    isEmpty() {
      return this.newAnswer.length < 1
    },
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
      getQuestionById: 'getQuestionById'
    }),
    ...mapState({
      apiState: state => state.apiState
    }),
    apiStateLoaded() {
      return this.apiState === ENUM.LOADED;
    },
    apiStateLoading() {
      return this.apiState === ENUM.LOADING || this.apiState === ENUM.INIT;
    },
    apiStateError() {
      return this.apiState === ENUM.ERROR;
    },
    question() {
      return this.getQuestionById(this.$route.params.id)
    },
    answers() {
      return this.getQuestionById(this.$route.params.id).answers
    },
    sortedAnswers() {
      if (!this.answers) return;
      return this.answers.sort((a, b) => new Date(b.date) - new Date(a.date))
    }
  },

  mounted () {
    // axios.get('/api/questions/' + this.$route.params.id + '/answers')
    //   .then(response => this.answers = response.data.content)

  },

  methods: {
    deleteAnswer(index) {
      axios.delete('/api/questions/' + this.$route.params.id + '/answers/' + index.id)
        .then(this.answers.splice(this.answers.indexOf(index), 1))
    },
  },

}

</script>

<style scoped>
h3 {
  margin-top: 3rem;
}
.question {
  background: linear-gradient(180deg, #B0E3FF 0%, #99DAFF 100%);
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  place-items: center;
  grid-template-columns: 5rem repeat(6, 1fr) 5rem;
  grid-template-rows: auto;
  grid-template-areas:
    "profile-image title title title title title title caret"
    "rate description description description description description description ."
    ". description description description description description description ."
    ". input input input input input submit .";
  margin-top: 3rem;
  position: relative;
}
.profile-image {
  grid-area: profile-image;
  place-self: center;
}

.title {
  grid-area: title;
  place-self: center stretch;
}

.caret {
  grid-area: caret;
  place-self: center;
  user-select: none;
}

.description {
  grid-area: description;
  place-self: start;
}

.answer-input {
  grid-area: input;
  place-self: stretch;
  position: absolute;
  bottom: -2rem;
  width: 100%
}

.answer-submit {
  grid-area: submit;
  position: absolute;
  bottom: -2rem;
}

.profile-image img {
  max-height: 4rem;
}

.answer-input input {
  background: #EEEEEE;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  height: 3rem;
}

.answer-submit button {
  outline: 0;
  border: 0;
  background: none;
  background: #EEEEEE;
  border-radius: 10px;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  padding: 0;
}

.rate a {
  display: block;
  margin: 1rem 0;
  user-select: none;
}

.question a {
  color: black;
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
}

.tag-input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  border-radius: 10px;
  grid-column: 1 / 3;
  font-size: 1.2rem;
}

.tag-input__tag {
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  background-color: #eee;
  margin-top: 10px;
  line-height: 30px;
  padding: 0 5px;
  border-radius: 5px;
}

.tag-input__tag > span {
  cursor: pointer;
  opacity: 0.75;
}
</style>
