<template>
  <div>
    <ul>
      <li @click="deleteItem(question)" v-if="isOwn(question)" >Delete</li>
      <router-link :to="{ name: 'questionEdit', params: {id: question.id} }" v-if="isOwn(question)"><li>Edit</li></router-link>
      <li @click="">Report</li>
    </ul>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import axios from 'axios'
import ClickOutside from 'vue-click-outside'

export default {
  name: 'QuestionMenu',

  props: ['question'],

  computed: {
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
    }),
    userId() {
      if (isNaN(this.question.user)) {
        return this.question.user.id
      } else {
        return this.question.user
      }
    }
  },

  methods: {
    isOwn(question) {
      if (!this.currentUser.principal) return false;
      return this.userId === this.currentUser.principal.id
    },
    deleteItem(index) {
      // axios.delete('api/questions/' + index.id)
      //   .then(this.questions.splice(this.questions.indexOf(index), 1))
      this.$store.dispatch('deleteQuestion', index)
    },
  },

  directives: {
    ClickOutside
  }
}
</script>

<style scoped>
div {
  background-color: white;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  cursor: pointer;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
</style>
