<template>
  <div>
    <h1>Add a Question</h1>
    <form>
      <error-component class="form-group" v-if="this.errorMessage" :error="this.errorMessage"></error-component>
      <div class="form-group">
        <input v-model="title" placeholder="Title">
      </div>
      <div class='tag-input'>
        <div v-for='(tag, index) in tags' class='tag-input__tag'>
          <span @click="removeTag(index)">x</span>
          {{ tag.name }}
        </div>
        <input type='text'
               placeholder="Enter categories separated by a comma"
               class='tag-input__text'
               @keydown.enter='addTag'
               @keydown.188='addTag'
               @keydown.delete='removeLastTag'/>
      </div>
      <div class="form-group">
        <textarea v-model="description" placeholder="Description"></textarea>
      </div>
      <button @click.prevent="cancel" class="cancel">Cancel</button>
      <button @click.prevent="addQuestion" :disabled="isEmpty" type="submit" class="add">Add</button>
    </form>
  </div>
</template>

<script>

import {mapGetters} from 'vuex'
import router from '../router'
import ErrorComponent from './ErrorComponent'

export default {
  name: 'QuestionAdd',
  components: {ErrorComponent},
  data: function () {
    return {
      title: "Lorem ipsum dolor sit amet?",
      description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, amet aperiam, consectetur " +
        "debitis deserunt doloremque eveniet excepturi id minima natus nulla odit officiis pariatur quae " +
        "similique tenetur voluptate? In, officia!",
      tags: [
        {name: "Java"},
        {name: "Technology"}
      ]
    }
  },
  computed: {
    isEmpty() {
      return this.title.length < 1 || this.description.length < 1 || this.tags.length < 1
    },
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
      errorMessage: 'getErrorMessage'
    })
  },

  methods: {
    addQuestion () {
      if (this.isEmpty) return;
      const question = {
        title: this.title,
        description: this.description,
        categories: this.tags,
        user: {id: this.currentUser.principal.id}
      }
      this.$store.dispatch('addQuestion', question)
    },

    addTag (event) {
      event.preventDefault()
      let val = event.target.value.trim()
      if (val.length > 0) {
        this.tags.push({name: val})
        event.target.value = ''
      }
    },

    removeTag (index) {
      this.tags.splice(index, 1)
    },

    removeLastTag(event) {
      if (event.target.value.length === 0) {
        this.removeTag(this.tags.length - 1)
      }
    },

    cancel() {
      router.go(-1);
    }
  }
}
</script>

<style scoped>
h1 {
  text-align: center;
  margin: 2rem auto;
  padding: 3rem;
}
form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.form-group {
  grid-column: 1 / 3;
}

input, textarea {
  grid-column: 1 / 3;
  border-radius: 10px;
  outline: 0;
  border: 1px solid black;
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  height: 20vh;
  resize:none;
  font-family: 'Ubuntu', sans-serif;
}

button {
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.cancel {
  background: #C4C4C4;
}
.add {
  background: linear-gradient(180deg, #EBC51D 0%, #E56500 100%);
  color: white;
}
#error {
  background-color: #fcc;
  border-radius: 10px;
  color: black;
  padding: 0 1rem;
}

.tag-input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  border: 1px solid black;
  border-radius: 10px;
  grid-column: 1 / 3;
  font-size: 1.2rem;
}

.tag-input__tag {
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  background-color: #eee;
  margin-top: 10px;
  line-height: 30px;
  padding: 0 5px;
  border-radius: 5px;
}

.tag-input__tag > span {
  cursor: pointer;
  opacity: 0.75;
}

.tag-input__text {
  border: none;
  outline: none;
  line-height: 50px;
  background: none;
  padding: 0;
  width: 25rem;
}
</style>
