<template>
  <div>
    <h1>Register</h1>
    <form @submit.prevent="register">
      <error-component class="form-group" v-if="this.errorMessage" :error="this.errorMessage"></error-component>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" v-model="username" v-focus @keydown.enter.prevent="register">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" v-model="email" @keydown.enter.prevent="register">
      </div>

      <label for="tag-input">Interests:</label>
      <div class='tag-input form-group'>
        <div v-for='(tag, index) in tags' class='tag-input__tag'>
          <span @click="removeTag(index)">x</span>
          {{ tag.name }}
        </div>
        <input type='text'
               placeholder="Enter categories separated by a comma"
               class='tag-input__text'
               id="tag-input"
               @keydown.enter='addTag'
               @keydown.188='addTag'
               @keydown.delete='removeLastTag'/>
      </div>
      <div class="form-group" id="password-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" v-model="password" @keydown.enter.prevent="register">

        <div id="strength" v-if="this.password.length > 0">
          <span v-bind:class="{
                      'red' : passwordStrength.score <= 1,
                      'orange' : passwordStrength.score === 2,
                      'yellow' : passwordStrength.score === 3,
                      'green' : passwordStrength.score === 4
                  }"></span>
            <span v-bind:class="{
                      'grey' : passwordStrength.score <= 1,
                      'orange' : passwordStrength.score === 2,
                      'yellow' : passwordStrength.score === 3,
                      'green' : passwordStrength.score === 4
                  }"></span>
            <span v-bind:class="{
                      'grey' : passwordStrength.score <= 2,
                      'yellow' : passwordStrength.score === 3,
                      'green' : passwordStrength.score === 4
                  }"></span>
            <span v-bind:class="{
                      'grey' : passwordStrength.score <= 3,
                      'green' : passwordStrength.score === 4
                  }"></span>
        </div>
      </div>
      <div>
        <router-link :to="{name: 'signin', query: { from: this.$route.query.from}}"><button>Sign in</button></router-link>
      </div>
      <div>
        <button type="submit" @click.prevent="register" class="cta">Register</button>
      </div>
    </form>
  </div>
</template>

<script>
import zxcvbn from 'zxcvbn'
import ErrorComponent from './ErrorComponent'
import {mapGetters} from 'vuex'
import store from '../store'


export default {
  name: 'Register',

  data: function () {
    return {
      username: "",
      email: "",
      password: "",
      reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
      tags: [
        {name: "Java"},
        {name: "Technology"}
      ]
    }
  },
  components: {
    ErrorComponent
  },

  computed: {
    isEmpty () {
      return this.username.length < 1 || this.email.length < 1 || this.password.length < 1
    },
    passwordStrength(){
      return zxcvbn( this.password );
    },
    ...mapGetters({
      errorMessage: 'getErrorMessage'
    })
  },

  methods: {
    register() {
      if (this.isEmpty) {
        store.dispatch('setError', "You need to fill the whole form!")
        return;
      }
      if (!this.reg.test(this.email)) {
        store.dispatch('setError', "Email is not valid!")
        return;
      }
      if (this.passwordStrength.score < 3) {
        store.dispatch('setError', "Password is too weak!")
        return;
      }
      const user = {
        "username": this.username,
        "email": this.email,
        "password": this.password,
        "score": 0,
        "categories": this.tags,
        "roles": "USER",
        "permissions": "DEFAULT",
        "mfa": false,
      }

      const payload = {
        loginData: user,
        from: this.$route.query.from,
      }

      store.dispatch('register', payload)
    },

    addTag (event) {
      event.preventDefault()
      let val = event.target.value.trim()
      if (val.length > 0) {
        this.tags.push({name: val})
        event.target.value = ''
      }
    },

    removeTag (index) {
      this.tags.splice(index, 1)
    },

    removeLastTag(event) {
      if (event.target.value.length === 0) {
        this.removeTag(this.tags.length - 1)
      }
    },
  }
}
</script>

<style scoped>
h1 {
  text-align: center;
  margin: 2rem auto;
  padding: 3rem;
}
form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 50%;
}

.form-group {
  grid-column: 1 / 3;
}

label, input {
  border-radius: 10px;
  outline: 0;
  padding: 1rem;
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

input {
  border: 1px solid black;
  box-sizing: border-box;
}

textarea {
  height: 20vh;
  resize: none;
  font-family: 'Ubuntu', sans-serif;
}

button {
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  transition: 0.5s all;
}

#second-factor {
  grid-column: 1 / 3;
  display: grid;
  grid-gap: 1rem;
}

.cta {
  background: linear-gradient(180deg, #EBC51D 0%, #E56500 100%);
  color: white;
}
a {
  text-decoration: none;
  color: black;
}

#password-group {
  position: relative;
}


#strength {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  width: 100%;
  border-radius: 10px;
  bottom: 0;
  margin: 0 auto;
}

#strength span {
  height: 0.5rem;
  transition: 0.5s all;
}

.tag-input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  border: 1px solid black;
  border-radius: 10px;
  grid-column: 1 / 3;
  font-size: 1.2rem;
}

.tag-input__tag {
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  background-color: #eee;
  margin-top: 10px;
  line-height: 30px;
  padding: 0 5px;
  border-radius: 5px;
}

.tag-input__tag > span {
  cursor: pointer;
  opacity: 0.75;
}

.tag-input__text {
  border: none;
  outline: none;
  line-height: 50px;
  background: none;
  padding: 0;
  width: 25rem;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.gray {
  background-color: gray;
}
</style>
