<template>
  <div>
    <h1>Search results for {{ this.$route.params.query }} ({{ results.length }})</h1>
    <div v-for="result in results">
      <QuestionItem :question="result"></QuestionItem>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import QuestionItem from './QuestionItem'

export default {
  name: 'SearchResults',

  components: {
    QuestionItem
  },

  data () {
    return {
      results: [],
    }
  },

  mounted () {
    this.$route.meta.title = "Search Results for " + this.$route.params.query
    this.loadResults()
  },

  methods: {
    loadResults() {
      axios.get('/api/questions/search?query=' + this.$route.params.query)
        .then(response => {
          this.results = response.data
        })
        .catch(err => {
          console.log(err.response)
        })
    }
  },

  watch: {
    '$route' () {
      this.loadResults();
    }
  }
}
</script>

<style scoped>
h1 {
  text-align: center;
  margin: 2rem auto;
  padding: 3rem;
}
</style>
