<template>
  <div>
    <h1>Sign In</h1>
    <form @submit.prevent="submit">
      <error-component class="form-group" v-if="this.errorMessage" :error="this.errorMessage"></error-component>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" v-model="form.username" @keydown.enter.prevent="submit" v-focus>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" v-model="form.password" @keydown.enter.prevent="submit">
      </div>

      <div>
        <router-link :to="{name: 'register', query: { from: this.$route.query.from}}"><button>Register</button></router-link>
      </div>

      <div>
        <button type="submit" @click.prevent="submit" :class="[!this.MFA ? ctaClass : '']">Sing In</button>
      </div>

      <div v-if="this.MFA" id="second-factor">
        <div>
          <label for="code">2FA Code:</label>
          <input v-focus="this.MFA" type="text" name="code" id="code" v-model="form.code" @keydown.enter.prevent="submit2FA" maxlength="6" @keypress="isNumber">
        </div>

        <div>
          <button @click.prevent="submit2FA" :class="[this.MFA ? ctaClass : '']">Submit 2FA</button>
        </div>
      </div>

    </form>
  </div>
</template>

<script>


import {mapGetters} from 'vuex'
import store from '../store'
import ErrorComponent from './ErrorComponent'

export default {

  name: 'SignIn',

  components: {
    ErrorComponent
    //
  },

  data() {
    return {
      form: {
        username: '',
        password: '123456',
        code: ''
      },
      ctaClass: 'cta',
    }
  },

  computed: {
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
      MFA: 'getMFA',
      errorMessage: 'getErrorMessage'
    })
  },

  methods: {
    async submit() {
      if (this.form.username === "" || this.form.password === "") {
        await store.dispatch('setError', "Username or password cannot be empty!")
        return;
      }

      const user = {
        username: this.form.username,
        password: this.form.password
      }

      const payload = {
        loginData: user,
        from: Object.is(this.$route.query.from, undefined) ? '/' : this.$route.query.from,
      }



      await store.dispatch('login', payload)

      this.form.code = "";
    },

    async submit2FA() {
      const user = {
        username: this.form.username,
        password: this.form.password
      }
      const payload = {
        'loginData': user,
        'code': this.form.code
      }
      await store.dispatch('loginStep2', payload)

    },
    isNumber ($event) {
      let charCode = $event.keyCode ? $event.keyCode : $event.which
      if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
        $event.preventDefault();;
      } else {
        return true;
      }
    }
  }
}
</script>

<style scoped>
h1 {
  text-align: center;
  margin: 2rem auto;
  padding: 3rem;
}
form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 50%;
}

.form-group {
  grid-column: 1 / 3;
}

label, input {
  border-radius: 10px;
  outline: 0;
  padding: 1rem;
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

input {
  border: 1px solid black;
  box-sizing: border-box;
}

textarea {
  height: 20vh;
  resize: none;
  font-family: 'Ubuntu', sans-serif;
}

button {
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  transition: 0.5s all;
}

#second-factor {
  grid-column: 1 / 3;
  display: grid;
  grid-gap: 1rem;
}

.cta {
  background: linear-gradient(180deg, #EBC51D 0%, #E56500 100%);
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
</style>
