<template>
  <div>
    <div v-for="user in this.users">
      <h2>Username: {{ user.username }}</h2>
      <h3>Email: {{ user.email }}</h3>
      <h3>Score: {{ user.score }}</h3>
      <h3>Speciality: {{ user.speciality }}</h3>
      <button @click="deleteUser(user)" v-if="getRoles.includes('ADMIN')">delete</button>
      <article v-for="q in user.questions">
        <p>{{q.title}}</p>
      </article>
      <hr>
    </div>
  </div>
</template>

<script>

import axios from "axios";
import {mapGetters} from 'vuex'

export default {
  name: 'Users',

  computed: {
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
    })
  },

  data: function () {
    return {
      selected: false,
      users: []
    }
  },

  mounted: function () {
    axios.get("/api/users")
      .then(response => this.users = response.data)
      .catch(function (err) {
        console.log(err);
      })
  },

  methods: {
    deleteUser(index) {
      console.log(index)
      axios.delete('api/users/' + index.id)
        .then(this.users.splice(this.users.indexOf(index), 1))
    }
  }

}
</script>

<style scoped>
  .selected {
    background-color: #aaa;
  }
</style>
