<template>
  <div>
    <img src="@/assets/profile.png" alt="profile image" id="profile-img">
    <h1 v-if="user">Profile of {{user.username}}</h1>

    <h2>Questions</h2>
    <div class="questions">
      <div v-for="question in this.userQuestions" :key="question.id" class="question">
        <QuestionItem :question="question"></QuestionItem>
      </div>
    </div>

  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import axios from 'axios'
import QrcodeVue from 'qrcode.vue'
import QuestionItem from './QuestionItem'

export default {
  name: 'UserItem',

  data: function () {
    return {
      twofactor: "",
      token: "",
      keyname: "",
      result: null,
      ctaClass: 'cta',
      userQuestions: null,
    }
  },

  components: {
    QrcodeVue,
    QuestionItem,
  },

  computed: {
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
      tokens: 'getTokens',
      getUserById: 'getUserById'
    }),
    user() {
      return this.getUserById(this.$route.params.id)
    },
    isOwn() {
      return this.$route.params.id == this.currentUser.principal.id
    },
  },
  mounted: function () {
    axios.get('/api/users/' + this.$route.params.id + '/questions')
      .then(response => this.userQuestions = response.data.content)
      .catch(err => this.result = err.response.data)
  },
  methods: {
  }
}
</script>

<style scoped>
#profile-img {
  height: 5rem;
  margin: 0 auto;
  display: block;
}
h1 {
  text-align: center;
  margin: 1rem auto 3rem auto;
  padding: 1rem;
}
h2 {
  margin-top: 3rem;
}
button {
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  transition: 0.5s all;
  margin: 1rem 0;
}
.cta {
  background: linear-gradient(180deg, rgba(235,197,29, 1) 0%, rgba(229,101,0, 1) 100%);
  color: white;
}
.delete {
  background: none;
  margin: 0;
  width: auto;
  display: grid;
  padding: 0;
}

.security {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.security > div {
  border: 1px solid rgba(0,0,0,0.5);
  padding: 1rem;
  border-radius: 10px;
}
.qr-secret {
  text-align: center;
}
form {
  display: grid;
}

label, input {
  border-radius: 10px;
  outline: 0;
  padding: 1rem;
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

input {
  border: 1px solid black;
  box-sizing: border-box;
}

.tokens > div {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  grid-gap: 1rem;
}

.tokens div:first-of-type {
  font-weight: bold;
}

.tokens div > p:nth-of-type(2) {
  place-self: center;
}

svg {
  height: 1.5rem;
  width: auto;
  fill: #FF5B5B;
  place-self: center;
}
</style>
