<template>
  <div id="app">
    <Navigation></Navigation>
    <main>
<!--      <error-component v-if="this.errorMessage && this.errorMessage.endsWith('server is down.')" :error="this.errorMessage"></error-component>-->
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </main>
    <router-link :to="{name: 'questionAdd'}"><button id="add">+</button></router-link>
    <Footer></Footer>
  </div>
</template>

<script>

import {mapGetters, mapState} from 'vuex'
import Navigation from './components/Navigation'
import Footer from './components/Footer'
import SockJS from "sockjs-client";
import Stomp from "webstomp-client";
import ErrorComponent from './components/ErrorComponent'

export default {
  name: "App",
  components: {
    Navigation,
    Footer,
    ErrorComponent
  },
  computed: {
    ...mapGetters({
      isAuth: 'getIsAuthenticated',
      errorMessage: 'getErrorMessage'
    }),
    ...mapState (['questions', 'users']),
  },

  data() {
    return {
      // received_messages: [],
      // send_message: null,
      // name: null,
      // connected: false,
    };
  },
  methods: {
    // sendMessage() {
    //   if (this.stompClient && this.stompClient.connected) {
    //     const msg = {
    //       name: this.name,
    //       message: this.send_message
    //     };
    //     this.stompClient.send("/app/user-all", JSON.stringify(msg), {});
    //   }
    // },
    // connect() {
    //   this.socket = new SockJS("http://localhost:8090/websocket-chat");
    //   this.stompClient = Stomp.over(this.socket);
    //   this.stompClient.connect(
    //     {},
    //     frame => {
    //       this.connected = true;
    //       this.stompClient.subscribe("/topic/user", tick => {
    //         console.log(tick.body);
    //         this.received_messages.push(JSON.parse(tick.body));
    //       });
    //     },
    //     error => {
    //       console.log(error);
    //       this.connected = false;
    //     }
    //   );
    // },
    // disconnect() {
    //   if (this.stompClient) {
    //     this.stompClient.disconnect();
    //   }
    //   this.connected = false;
    // },
    // tickleConnection() {
    //   this.connected ? this.disconnect() : this.connect();
    // },
  },

  mounted: function () {
    this.$store.dispatch('loadQuestions')
    this.$store.dispatch('loadUsers')
  },
  created () {
    // this.connect();
  },
  //
  // methods: {
  //   connect() {
  //     this.socket = new WebSocket("ws://localhost:8090/websocket-chat");
  //     this.socket.onopen = () => {
  //       this.status = "connected";
  //
  //
  //
  //       this.logs.push({ event: "Connected to", data: 'wss://echo.websocket.org'})
  //
  //
  //       this.socket.onmessage = ({data}) => {
  //         this.logs.push({ event: "Recieved message", data });
  //       };
  //     };
  //   },
  //   disconnect() {
  //     this.socket.close();
  //     this.status = "disconnected";
  //     this.logs = [];
  //   },
  //   sendMessage(e) {
  //     this.socket.send(this.message);
  //     this.logs.push({ event: "Sent message", data: this.message });
  //     this.message = "";
  //
  //     if (this.stompClient && this.stompClient.connected) {
  //       const msg = { name: this.send_message };
  //       console.log(JSON.stringify(msg));
  //       this.stompClient.send("/app/hello", JSON.stringify(msg), {});
  //     }
  //   }
  // }
}
</script>


<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

#app{
  font-family: 'Ubuntu', sans-serif;
}

#app > main {
  min-height: calc(100vh - 16rem);
  margin: 2rem 20rem;
  z-index: 1;
}

#add {
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 3rem;
  bottom: 3rem;
  z-index: 3;
  background: linear-gradient(180deg, #EBC51D 0%, #E56500 100%);
  border-radius: 100%;
  color: white;
  border: 0;
  font-size: 2.5rem;
  line-height: 100%;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  transition: 0.5s all;
  box-shadow: 0 0 10px 10px rgba(235,197,29,0.3),
              0 0 10px 10px rgba(229,101,0,0.3);
  animation: pulse 3s infinite;
}

#add:hover {
  transform: scale(1.1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(235,197,29,0.3),
    0 0 0 0 rgba(229,101,0,0.3);
  }

  50% {
    box-shadow: 0 0 10px 10px rgba(235,197,29,0.3),
    0 0 200px 5px rgba(229,101,0,0.2);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(235,197,29,0.3),
    0 0 0 0 rgba(229,101,0,0.3);
  }
}

@media screen and (max-width: 1070px) {
  #app > main {
    margin: 2rem 2rem
  }
}
</style>
