<template>
  <div>
    <h2>Account Details</h2>
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" :placeholder="[this.currentUser.principal.email]" v-model="this.email">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="" v-model="this.password">
      </div>

      <div>
        <button @click.prevent="changeDetails" :disabled="isEmpty" class="cta">Change details</button>
      </div>
    </form>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'SettingsTabs',

  data() {
    return {
      email: "",
      password: "",
    }
  },

  created() {
  },
  methods: {
    changeDetails() {

    }
  },

  computed: {
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
      tokens: 'getTokens',
      getUserById: 'getUserById'
    }),
    isEmpty() {
      return this.email.length < 1 || this.password.length < 1
    },
    user() {
      return this.getUserById(this.currentUser.principal.id)
    },
  },
}
</script>

<style scoped>
button {
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  transition: 0.5s all;
  margin: 1rem 0;
}
.cta {
  background: linear-gradient(180deg, rgba(235,197,29, 1) 0%, rgba(229,101,0, 1) 100%);
  color: white;
}
.delete {
  background: none;
  margin: 0;
  width: auto;
  display: grid;
  padding: 0;
}

.security {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.security > div {
  border: 1px solid rgba(0,0,0,0.5);
  padding: 1rem;
  border-radius: 10px;
}
.qr-secret {
  text-align: center;
}
form {
  display: grid;
}

label, input {
  border-radius: 10px;
  outline: 0;
  padding: 1rem;
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

input {
  border: 1px solid black;
  box-sizing: border-box;
}

</style>
