<template>
  <div class="">
    <h2>Security</h2>
    <h3>Two-Factor Authentication</h3>
    <form class="two-factor-auth">
      <div>
        <button @click.prevent="generateToken" :class="[!this.twofactor ? ctaClass : '']">Generate token</button>
      </div>

      <div v-if="this.twofactor">
        <div class="qr-secret">
          <qrcode-vue :value="this.value" :size="300" level="L" :key="this.value"></qrcode-vue>
          <p>{{ this.twofactor.secret }}</p>
        </div>
        <div class="form-group">
          <label for="keyname">Name the token:</label>
          <input type="text" id="keyname" placeholder="Eg. android, iphone, etc." v-model="keyname" @keydown.enter.prevent="verifyToken">
        </div>

        <div class="form-group">
          <label for="token">Token:</label>
          <input type="text" id="token" placeholder="Enter the token" v-model="token" maxlength="6" @keypress="isNumber" @keydown.enter.prevent="verifyToken">
        </div>

        <div>
          <button @click.prevent="verifyToken" :disabled="isEmpty" :class="[this.twofactor ? ctaClass : '']">Verify token</button>
        </div>
      </div>
    </form>

    <error-component class="form-group" v-if="this.errorMessage" :error="this.errorMessage"></error-component>

    <h4>Tokens</h4>
    <div v-if="tokens.length < 1">
      <p>No tokens yet. You can add some from above.</p>
    </div>
    <div v-else class="tokens">
      <div>
        <p>Name</p>
        <p>Actions</p>
      </div>
      <div v-for="token in tokens" :key="token.id">
        <p>{{ token }}</p>
        <p>
          <button class="delete">
            <svg  @click="deleteToken(token)" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="109.484px" height="122.88px" viewBox="0 0 109.484 122.88" enable-background="new 0 0 109.484 122.88" xml:space="preserve"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M2.347,9.633h38.297V3.76c0-2.068,1.689-3.76,3.76-3.76h21.144 c2.07,0,3.76,1.691,3.76,3.76v5.874h37.83c1.293,0,2.347,1.057,2.347,2.349v11.514H0V11.982C0,10.69,1.055,9.633,2.347,9.633 L2.347,9.633z M8.69,29.605h92.921c1.937,0,3.696,1.599,3.521,3.524l-7.864,86.229c-0.174,1.926-1.59,3.521-3.523,3.521h-77.3 c-1.934,0-3.352-1.592-3.524-3.521L5.166,33.129C4.994,31.197,6.751,29.605,8.69,29.605L8.69,29.605z M69.077,42.998h9.866v65.314 h-9.866V42.998L69.077,42.998z M30.072,42.998h9.867v65.314h-9.867V42.998L30.072,42.998z M49.572,42.998h9.869v65.314h-9.869 V42.998L49.572,42.998z"/></g></svg>
          </button>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import {mapGetters} from 'vuex'
import QrcodeVue from 'qrcode.vue'
import store from '../../store'
import ErrorComponent from '../ErrorComponent'

export default {
  name: 'SettingsSecurity',

  data () {
    return {
      twofactor: "",
      token: "",
      keyname: "",
      result: null,
      ctaClass: 'cta',
    }
  },

  components: {
    ErrorComponent,
    QrcodeVue,
  },

  computed: {
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
      tokens: 'getTokens',
      getUserById: 'getUserById',
      errorMessage: 'getErrorMessage'
    }),
    isEmpty () {
      return this.token.length < 1 || this.keyname.length < 1
    },
    user () {
      return this.getUserById(this.currentUser.principal.id)
    },

    value () {
      return 'otpauth://totp/' + this.twofactor.username + '?secret=' + this.twofactor.secret + '&issuer=' +
        this.twofactor.issuer + '&algorithm=' + this.twofactor.algorithm + '&digits=' + this.twofactor.digits +
        '&period=' + this.twofactor.period
    }
  },

  methods: {
    generateToken () {
      this.$store.commit('SET_ERROR_MESSAGE', "");
      axios.get('/api/users/' + this.currentUser.principal.id + '/2fa/setup')
        .then(response => {
          this.token = ""
          this.twofactor = response.data
        })
        .catch(err => {
          if (!err.response) {
            this.$store.commit('SET_ERROR_MESSAGE', "You don't have an internet connection or the server is down."); return;
          }
          this.$store.commit('SET_ERROR_MESSAGE', err.response.data.message);
        })
    },

    verifyToken () {
      axios.post('/api/users/' + this.currentUser.principal.id + '/2fa/verify?code=' + this.token + '&keyname=' + this.keyname)
        .then(() => {
          axios.get('/api/users/' + this.currentUser.principal.id + '/2fa')
            .then(tokens => {
              store.commit("setTokens", tokens.data);
            });
          this.result = "Key successfully added!"
          this.twofactor = ""
          this.token = ""
          this.keyname = ""
        })
        .catch(err => {
          if (!err.response) {
            this.$store.commit('SET_ERROR_MESSAGE', "You don't have an internet connection or the server is down."); return;
          }
          this.$store.commit('SET_ERROR_MESSAGE', err.response.data.message);
        })
    },

    deleteToken (token) {
      console.log(token)
      axios.delete('/api/users/' + this.currentUser.principal.id + '/2fa/' + token)
        .then(response => {
          axios.get('/api/users/' + this.currentUser.principal.id + '/2fa')
            .then(tokens => {
              store.commit("setTokens", tokens.data);
            });
          // this.result = response.data
        })
        .catch(err => {
          if (!err.response) {
            this.$store.commit('SET_ERROR_MESSAGE', "You don't have an internet connection or the server is down."); return;
          }
          this.$store.commit('SET_ERROR_MESSAGE', err.response.data.message);
        })
    },

    isNumber ($event) {
      let charCode = $event.keyCode ? $event.keyCode : $event.which
      if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
        $event.preventDefault();
      } else {
        return true;
      }
    }
  }
}
</script>

<style scoped>
h1 {
  text-align: center;
  margin: 2rem auto;
  padding: 3rem;
}
button {
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  transition: 0.5s all;
  margin: 1rem 0;
}
.cta {
  background: linear-gradient(180deg, rgba(235,197,29, 1) 0%, rgba(229,101,0, 1) 100%);
  color: white;
}
.delete {
  background: none;
  margin: 0;
  width: auto;
  display: grid;
  padding: 0;
}

.qr-secret {
  text-align: center;
}
form {
  display: grid;
}

label, input {
  border-radius: 10px;
  outline: 0;
  padding: 1rem;
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

input {
  border: 1px solid black;
  box-sizing: border-box;
}

.tokens > div {
  display: grid;
  grid-template-columns: 10fr 1fr;
  align-items: center;
  grid-gap: 1rem;
}

.tokens div:first-of-type {
  font-weight: bold;
}

.tokens div > p:nth-of-type(2) {
  place-self: center;
}

svg {
  height: 1.5rem;
  width: auto;
  fill: #FF5B5B;
  place-self: center;
}
</style>
