<template>
  <div>
    <h1>Settings</h1>
    <div class="main">
      <ul class="tabs">
        <li><a href="#_" @click.prevent="setActive('account')" :class="[this.activeItem === 'account' ? activeTab : '']">Account Details</a></li>
        <li><a href="#_" @click.prevent="setActive('security')" :class="[this.activeItem === 'security' ? activeTab : '']">Security</a></li>
      </ul>
      <div class="content">
        <SettingsAccount :class="{ 'active show': isActive('account') }" ></SettingsAccount>
        <SettingsSecurity :class="{ 'active show': isActive('security') }" ></SettingsSecurity>
      </div>
    </div>
  </div>
</template>

<script>
import SettingsAccount from './SettingsAccount'
import SettingsSecurity from './SettingsSecurity'

export default {
  name: 'Settings',

  data () {
    return {
      activeItem: 'account',
      activeTab: 'active-tab',
    }
  },

  components: {
    SettingsSecurity,
    SettingsAccount,
  },

  methods: {
    isActive (menuItem) {
      return this.activeItem === menuItem
    },

    setActive (menuItem) {
      this.activeItem = menuItem
    }
  }

}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.active-tab {
  border-right: 3px solid rgba(0,0,0, 0.3);
  background-color: rgba(230, 230, 230, 0.8);
}

h1 {
  text-align: center;
  margin: 2rem auto;
  padding: 3rem;
}
div.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 3rem;
}
ul.tabs {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 10px;
  height: 60vh;
  position: sticky;
  top: 10rem;
}
ul.tabs li {
}
ul.tabs li a {
  display: block;
  padding: 1rem;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  margin: 0.5rem 0;
  transition: background-color 0.3s;
  outline: none;
}
.content div {
  display: none;
}
.content div.show {
  display: block;
}
</style>
