<template>
  <div :key="answer.id" class="answer" :answer="answer" :class="[this.isOwn ? 'is-own' : '']">
    <div class="profile-image">
      <router-link :to="{ name: 'userItem', params: { id: this.userId } }" v-if="answer.user"><img src="@/assets/profile.png" alt="profile-img"></router-link>
    </div>
    <div class="content">
      <pre><p>{{ answer.text }}</p></pre>
    </div>

    <div class="rate-up">
      <a href="#_" @click.prevent>
        <img src="@/assets/thumbs-up.svg" alt="thumbs up">
      </a>
    </div>

    <div class="score">
      <p>{{ this.score }}</p>
    </div>

    <div class="rate-down">
      <a href="#_" @click.prevent>
        <img src="@/assets/thumbs-down.svg" alt="thumbs down">
      </a>
    </div>

    <div class="delete" v-if="this.isOwn">
      <button class="delete">
        <svg  @click="deleteAnswer" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="109.484px" height="122.88px" viewBox="0 0 109.484 122.88" enable-background="new 0 0 109.484 122.88" xml:space="preserve"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M2.347,9.633h38.297V3.76c0-2.068,1.689-3.76,3.76-3.76h21.144 c2.07,0,3.76,1.691,3.76,3.76v5.874h37.83c1.293,0,2.347,1.057,2.347,2.349v11.514H0V11.982C0,10.69,1.055,9.633,2.347,9.633 L2.347,9.633z M8.69,29.605h92.921c1.937,0,3.696,1.599,3.521,3.524l-7.864,86.229c-0.174,1.926-1.59,3.521-3.523,3.521h-77.3 c-1.934,0-3.352-1.592-3.524-3.521L5.166,33.129C4.994,31.197,6.751,29.605,8.69,29.605L8.69,29.605z M69.077,42.998h9.866v65.314 h-9.866V42.998L69.077,42.998z M30.072,42.998h9.867v65.314h-9.867V42.998L30.072,42.998z M49.572,42.998h9.869v65.314h-9.869 V42.998L49.572,42.998z"/></g></svg>
      </button>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'AnswerItem',

  props: {
    'answer':
      {
        default: () => []
      }
  },

  computed: {
    ...mapGetters({
      currentUser: 'getCurrentUser',
      isAuth: 'getIsAuthenticated',
      getRoles: 'getRoles',
      questions: 'getQuestions',
      getQuestionById: 'getQuestionById'
    }),
    userId() {
      if (isNaN(this.answer.user)) {
        return this.answer.user.id
      } else {
        return this.answer.user
      }
    },
    score() {
      return this.answer.upvotes - this.answer.downvotes;
    },

    isOwn() {
      if (!this.currentUser) return;
      return this.userId === this.currentUser.principal.id
    },

  },
  methods: {
    deleteAnswer() {
      const payload = {
        questionId: this.$route.params.id,
        answerId: this.answer.id
      }
      console.log(payload)
      this.$store.dispatch('deleteAnswer', payload)
    },
  }

}
</script>

<style scoped>

.answer {
  display: grid;
  grid-template-areas:
                       "rate-up content profile-image"
                       "score content profile-image"
                       "rate-down content profile-image";
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: repeat(3, 2rem);
  place-items: center;
  margin-bottom: 1rem;
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 10px;
  padding: 1rem;
  transition: all 0.3s;
}

.answer:hover {
  background-color: rgba(210, 210, 210, 0.5);
}

.is-own {
  grid-template-areas:
                       "rate-up content profile-image"
                       "score content profile-image"
                       "rate-down content delete";
}

.answer .profile-image {
  grid-area: profile-image;
}

.answer .profile-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 1rem;
  box-sizing: border-box;
}

.answer .content {
  grid-area: content;
  grid-row: 1 / 5;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center start;
  }

.answer .rate-up {
  grid-area: rate-up;
}


.answer .score {
  grid-area: score;
}


.answer .rate-down {
  grid-area: rate-down;
}

.score p {
  margin: 0;
}
button {
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  height: 100%;
  transition: 0.5s all;
  margin: 1rem 0;
}
.delete {
  background: none;
  margin: 0;
  width: auto;
  display: grid;
  padding: 0;
  grid-area: delete;

}


svg {
  height: 1.5rem;
  width: auto;
  fill: #FF5B5B;
  place-self: center;
}


pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
}

</style>
